aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.categories-button-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }

  .categories-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
  }
}
