button {
  padding: 0px 16px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
}

.primary {
  background-color: #003445;
  color: #e6f4f1;
}
.primary:hover {
  background-color: #128d8b;
}

.secondary {
  background-color: #e6f4f1;
  color: #003445;
}

.secondary:hover {
  background-color: #000;
  color: #fff;
}

/* tablet */
@media (min-width: 768px) {
  button {
    padding: 0px 20px;
    height: 38px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  button {
    padding: 0px 24px;
    height: 48px;
  }
}
