.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: 2px solid #f0eff4;
  border-radius: 4px;
  padding: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card p {
  text-align: center;
}
